@font-face {
	font-family: 'HelveticaNeueLTCom-Roman';
	src: url('HelveticaNeueLTCom-Roman.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueLTCom-BlkCn';
	src: url('HelveticaNeueLTCom-BlkCn.ttf');
	font-weight: normal;
	font-style: normal;
}

body {
	width: 1280px;
	height: 800px;
	font-family: 'HelveticaNeueLTCom-Roman';
	font-size:20px;
	overflow:hidden;
}
#imgpanel {
	position: absolute;
	display: block;
	top: 0px;
	left: 0px;
}
#txtpanel {
	position: absolute;
	display: block;
	top: 0px;
	left: 700px;
	width: 530px;
	
}
h1 {
	margin-top: 50px;
	text-align: right;
	font-family: 'HelveticaNeueLTCom-BlkCn';
	font-size: 30px;
	font-weight: bold;
}
p {
	font-family: 'HelveticaNeueLTCom-Roman';
	text-align: justify;
}

p:lang(ru) {
 text-align: left;

}

li{	
margin-bottom:8px;
}
small{
	font-siz:100%;
	}

.t2{
	margin-top:120px;
	font-size: 26px;
}
.t3{
	margin-top:100px;
	font-size: 24px;
}
.t4{
	margin-top:80px;
	font-size: 22px;
}
.t5:lang(fr){
 margin-top:16px;
 font-size: 18px;
}
.t5{
	margin-top:24px;
	font-size: 20px;
}

.t6:lang(ru){
 font-size: 16px;
}

.t6{
	margin-top:16px;
	font-size: 18px;
}
.t7{
        margin-top:8px;
        font-size: 16px;
}




